body {
    font-family: "Poppins", sans-serif;
}
  
.centrado {
    text-align: center;
}

.menu{
    height: 20px;
    text-align: center;
}

.menu ul{
    list-style: none;
    display:inline-block;
    background-color:white;
 }

 .menu ul li{
     float: left;
     margin-top: 0px;
     display: block;
     padding: 5px 30px;
 }


html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}